In [34]:
import pandas as pd
import os
import regex as re

In [54]:
data_path = '../../../../Google Drive File Stream/My Drive/USC Expeditions Year 5/Analysis/Engagement/Data/Audio/p5_audio.csv'

In [55]:
data = pd.read_csv(data_path)

In [56]:
'''
data.columns
mapper = {}
for i in data.columns:
    if (i == 'timestamp' or i=='participant' or i=='session_num'):
        continue
    mapper[i] = 'a_' + i
'''

In [29]:
data.dtypes

harmonicity        float64
intensity          float64
mfcc_0             float64
mfcc_1             float64
pitch_frequency    float64
pitch_strength     float64
timestamp          float64
participant          int64
session_num        float64
dtype: object

In [30]:
data.head()

,harmonicity,intensity,mfcc_0,mfcc_1,pitch_frequency,pitch_strength,timestamp,participant,session_num
0,-200.0,54.770,738.616,416.141,710.578,0.409,0.0,9,1.0
1,-200.0,57.084,865.044,442.322,302.248,0.345,0.1,9,1.0
2,-200.0,53.227,736.778,410.764,882.307,0.620,0.2,9,1.0
3,-200.0,49.646,684.221,369.315,903.087,0.621,0.3,9,1.0
4,-200.0,49.429,603.242,338.440,874.348,0.683,0.4,9,1.0

In [31]:
# Iterate through and add rows for 0.1/3 and 2*0.1/3 timestamps
add = []
checkpoint = int(len(data)/10)

for i,r in data.iterrows():    
    if (i%checkpoint == 0):
        print(i)
    r1 = r.copy()
    r2 = r.copy()
    
    r1['timestamp'] = r['timestamp'] + (0.1/3)
    r2['timestamp'] = r['timestamp'] + ((0.1/3)*2)
    
    add.append(r)
    add.append(r1)
    add.append(r2)

0
19538
39076
58614
78152
97690
117228
136766
156304
175842

In [32]:
master = pd.concat(add, axis=1, ignore_index=True)
master = master.transpose()
master.head()

,harmonicity,intensity,mfcc_0,mfcc_1,pitch_frequency,pitch_strength,timestamp,participant,session_num
0,-200.0,54.770,738.616,416.141,710.578,0.409,0.000000,9.0,1.0
1,-200.0,54.770,738.616,416.141,710.578,0.409,0.033333,9.0,1.0
2,-200.0,54.770,738.616,416.141,710.578,0.409,0.066667,9.0,1.0
3,-200.0,57.084,865.044,442.322,302.248,0.345,0.100000,9.0,1.0
4,-200.0,57.084,865.044,442.322,302.248,0.345,0.133333,9.0,1.0

In [33]:
master.to_csv(data_path, index=False)