In [1]:
import pandas as pd
import os
import regex as re

In [2]:
data_path = '../../../../Google Drive File Stream/My Drive/USC Expeditions Year 5/Analysis/Engagement/Engagement Annotations/P5/CSV'
participant = 5
out = '../../../../Google Drive File Stream/My Drive/USC Expeditions Year 5/Analysis/Engagement/Data/Annotations/p5_engagement.csv'

In [3]:
master = pd.DataFrame(columns=['participant', 'session_num', 'timestamp', 'engagement'])

In [4]:
master.head()

Empty DataFrame
Columns: [participant, session_num, timestamp, engagement]
Index: []

In [5]:
for subdir, dirs, files in os.walk(data_path):
    for file in files:
        if 'shomik' in file and 'csv' in file:
            path_to_file = data_path + '/' + file
            print(file)
            
            sess_regex1 = 's\d*_'
            sess_regex2 = 's\d*-\d*_'

            res1 = re.findall(sess_regex1, file)
            res2 = re.findall(sess_regex2, file)

            if (res1):
                session = res1[0]
                session = float(session[1:-1])
            else:
                session = res2[0]
                session = session[1:-1]
                session = session.replace('-', '.')
                session = float(session)
           
            process = pd.read_csv(path_to_file)
            process['participant'] = participant
            process['session_num'] = session
            process['timestamp'] = process['Timestamp']
            
            process['engagement'] = -1
            process.loc[process['C_Engagement']=='engaged', 'engagement'] = 1
            process.loc[process['C_Engagement']=='disengaged', 'engagement'] = 0

            process = process[['participant', 'session_num', 'timestamp', 'engagement']]
            master = pd.concat([master,process], sort=True)

p5_s10_engagement_shomik.csv
p5_s13_engagement_shomik.csv
p5_s2_engagement_shomik.csv
p5_s7_engagement_shomik.csv
p5_s8_engagement_shomik.csv

In [6]:
master = master[['participant', 'session_num', 'timestamp', 'engagement']]

In [7]:
master = master.sort_values(by=['session_num', 'timestamp'])

In [8]:
master

      participant  session_num    timestamp engagement
0               5          2.0     0.000000          1
1               5          2.0     0.033333          1
2               5          2.0     0.066667          1
3               5          2.0     0.100000          1
4               5          2.0     0.133333          1
5               5          2.0     0.166667          1
6               5          2.0     0.200000          1
7               5          2.0     0.233333          1
8               5          2.0     0.266667          1
9               5          2.0     0.300000          1
10              5          2.0     0.333333          1
11              5          2.0     0.366667          1
12              5          2.0     0.400000          1
13              5          2.0     0.433333          1
14              5          2.0     0.466667          1
15              5          2.0     0.500000          1
16              5          2.0     0.533333          1
17              5          2.0     0.566667          1
18              5          2.0     0.600000          1
19              5          2.0     0.633333          1
20              5          2.0     0.666667          1
21              5          2.0     0.700000          1
22              5          2.0     0.733333          1
23              5          2.0     0.766667          1
24              5          2.0     0.800000          1
25              5          2.0     0.833333          1
26              5          2.0     0.866667          1
27              5          2.0     0.900000          1
28              5          2.0     0.933333          1
29              5          2.0     0.966667          1
...           ...          ...          ...        ...
40486           5         13.0  1349.533333          0
40487           5         13.0  1349.566667          0
40488           5         13.0  1349.600000          0
40489           5         13.0  1349.633333          0
40490           5         13.0  1349.666667          0
40491           5         13.0  1349.700000          0
40492           5         13.0  1349.733333          0
40493           5         13.0  1349.766667          0
40494           5         13.0  1349.800000          0
40495           5         13.0  1349.833333          0
40496           5         13.0  1349.866667          0
40497           5         13.0  1349.900000          0
40498           5         13.0  1349.933333          0
40499           5         13.0  1349.966667          0
40500           5         13.0  1350.000000          0
40501           5         13.0  1350.033333          0
40502           5         13.0  1350.066667          0
40503           5         13.0  1350.100000          0
40504           5         13.0  1350.133333          0
40505           5         13.0  1350.166667          0
40506           5         13.0  1350.200000          0
40507           5         13.0  1350.233333          0
40508           5         13.0  1350.266667          0
40509           5         13.0  1350.300000          0
40510           5         13.0  1350.333333          0
40511           5         13.0  1350.366667          0
40512           5         13.0  1350.400000          0
40513           5         13.0  1350.433333          0
40514           5         13.0  1350.466667          0
40515           5         13.0  1350.500000          0

[271315 rows x 4 columns]

In [9]:
master.to_csv(out, index=False)