In [38]:
import pandas as pd
import os
import regex as re

In [39]:
data_path = '../../../Google Drive File Stream/My Drive/USC Expeditions Year 5/Analysis/Engagement/Data/Audio/p18_audio.csv'

In [40]:
data = pd.read_csv(data_path)

In [41]:
data.dtypes

harmonicity        float64
intensity          float64
mfcc_0             float64
mfcc_1             float64
pitch_frequency    float64
pitch_strength     float64
timestamp          float64
participant          int64
session              int64
dtype: object

In [42]:
data.head()

,harmonicity,intensity,mfcc_0,mfcc_1,pitch_frequency,pitch_strength,timestamp,participant,session
0,51.585,37.701,1623.225,232.558,6367.882,0.356,0.0,18,3
1,-200.000,40.288,471.256,314.629,2611.112,0.430,0.1,18,3
2,-200.000,38.001,574.700,304.418,794.124,0.254,0.2,18,3
3,-200.000,37.380,589.167,316.439,0.000,0.000,0.3,18,3
4,-200.000,38.006,660.231,305.996,300.898,0.303,0.4,18,3

In [43]:
# Iterate through and add rows for 0.1/3 and 2*0.1/3 timestamps
add = []
checkpoint = int(len(data)/10)

for i,r in data.iterrows():    
    if (i%checkpoint == 0):
        print(i)
    r1 = r.copy()
    r2 = r.copy()
    
    r1['timestamp'] = r['timestamp'] + (0.1/3)
    r2['timestamp'] = r['timestamp'] + ((0.1/3)*2)
    
    add.append(r)
    add.append(r1)
    add.append(r2)

0
11872
23744
35616
47488
59360
71232
83104
94976
106848
118720

In [44]:
master = pd.concat(add, axis=1, ignore_index=True)
master = master.transpose()
master.head()

,harmonicity,intensity,mfcc_0,mfcc_1,pitch_frequency,pitch_strength,timestamp,participant,session
0,51.585,37.701,1623.225,232.558,6367.882,0.356,0.000000,18.0,3.0
1,51.585,37.701,1623.225,232.558,6367.882,0.356,0.033333,18.0,3.0
2,51.585,37.701,1623.225,232.558,6367.882,0.356,0.066667,18.0,3.0
3,-200.000,40.288,471.256,314.629,2611.112,0.430,0.100000,18.0,3.0
4,-200.000,40.288,471.256,314.629,2611.112,0.430,0.133333,18.0,3.0

In [45]:
master.to_csv(data_path, index=False)