In [1]:
import pandas as pd

In [3]:
aff_file = '../../../../Google Drive File Stream/My Drive/USC Expeditions Year 5/Analysis/Help-Seeking/Data/Affectiva Features/p9_aff_features.csv'
aff = pd.read_csv(aff_file)

In [4]:
aff.head()

,session_num,timestamp,aff_Attention,aff_BrowFurrow,aff_BrowRaise,aff_CheekRaise,aff_ChinRaise,aff_Contempt,aff_Dimpler,aff_Disgust,...,aff_LipSuck,aff_MouthOpen,aff_NoseWrinkle,aff_Sadness,aff_Smile,aff_Smirk,aff_Surprise,aff_UpperLipRaise,aff_Valence,aff_aff_Anger
0,16.0,1.06667,78.2544,0.000040,0.201832,0.000035,0.012202,0.196619,0.001938,0.445944,...,0.000031,1.28752,7.776090e-07,0.023086,0.008405,0.197090,0.203062,0.000004,0.0,0.002027
1,16.0,1.13333,91.5347,0.096024,0.013899,0.010930,0.006191,0.185752,0.000732,0.420472,...,0.000002,1.00725,6.007550e-03,0.022732,0.543568,0.021768,0.198092,0.001740,0.0,0.001974
2,16.0,1.20000,97.4094,0.058420,0.049919,0.000843,0.003013,0.192026,0.000539,0.434282,...,0.000002,1.24202,1.954850e-04,0.023098,0.065112,0.003927,0.200022,0.000119,0.0,0.002048
3,16.0,1.26667,91.8342,0.046713,0.026104,0.007257,0.036189,0.189974,0.003262,0.452871,...,0.000017,4.15861,5.308090e-03,0.020629,0.229787,0.020895,0.215938,0.003396,0.0,0.002234
4,16.0,1.33333,91.5356,0.013484,0.024152,0.004416,0.222106,0.191321,0.003339,0.444446,...,0.000021,2.74203,1.741100e-02,0.020901,0.154101,0.039968,0.210500,0.013794,0.0,0.002138

In [8]:
aud_file = '../../../../Google Drive File Stream/My Drive/USC Expeditions Year 5/Analysis/Help-Seeking/Data/Audio Features/Praat/combined data/P9/P9_FS_audio.csv'
rest = pd.read_csv(aud_file)

In [18]:
aff.loc[aff.session_num == 13.3, 'session_num'] = 13.0

In [21]:
print(aff['session_num'].unique())
print(rest['session_num'].unique())

[16.  15.   4.   9.   3.1  3.2 13. ]
[ 3.1  3.2  4.   9.  13.  15. ]

In [24]:
rest['timestamp'] = round(rest['timestamp'], 5)

In [27]:
rest = rest.sort_values(['session_num', 'timestamp'], ascending=[True, True])
aff = aff.sort_values(['session_num', 'timestamp'], ascending=[True, True])

In [28]:
for i in range(10):
    print(rest.loc[i, 'timestamp'], aff.loc[i, 'timestamp'])

64.43333 1.06667
64.46667 1.13333
64.5 1.2
64.53333 1.26667
64.56667 1.33333
64.6 1.4
64.63333 1.46667
64.66667 1.53333
64.7 1.56667
64.73333 1.63333

In [32]:
len(aff)/len(rest)

0.11678169719760857

# Affectiva Analysis

In [39]:
rest[['timestamp', 'session_num']]

         timestamp  session_num
0         64.43333          3.1
1         64.46667          3.1
2         64.50000          3.1
3         64.53333          3.1
4         64.56667          3.1
5         64.60000          3.1
6         64.63333          3.1
7         64.66667          3.1
8         64.70000          3.1
9         64.73333          3.1
10        64.76667          3.1
11        64.80000          3.1
12        64.83333          3.1
13        64.86667          3.1
14        64.90000          3.1
15        64.93333          3.1
16        64.96667          3.1
17        65.00000          3.1
18        65.03333          3.1
19        65.06667          3.1
20        65.10000          3.1
21        65.13333          3.1
22        65.16667          3.1
23        65.20000          3.1
24        65.23333          3.1
25        65.26667          3.1
26        65.30000          3.1
27        65.33333          3.1
28        65.36667          3.1
29        65.40000          3.1
...            ...          ...
444055  3637.40000         15.0
444056  3637.43333         15.0
444057  3637.46667         15.0
444058  3637.50000         15.0
444059  3637.53333         15.0
444060  3637.56667         15.0
444061  3637.60000         15.0
444062  3637.63333         15.0
444063  3637.66667         15.0
444064  3637.70000         15.0
444065  3637.73333         15.0
444066  3637.76667         15.0
444067  3637.80000         15.0
444068  3637.83333         15.0
444069  3637.86667         15.0
444070  3637.90000         15.0
444071  3637.93333         15.0
444072  3637.96667         15.0
444073  3638.00000         15.0
444074  3638.03333         15.0
444075  3638.06667         15.0
444076  3638.10000         15.0
444077  3638.13333         15.0
444078  3638.16667         15.0
444079  3638.20000         15.0
444080  3638.23333         15.0
444081  3638.26667         15.0
444082  3638.30000         15.0
444083  3638.33333         15.0
444084  3638.36667         15.0

[444085 rows x 2 columns]

In [40]:
init = '../../../../Google Drive File Stream/My Drive/USC Expeditions Year 5/Analysis/Help-Seeking/Data/Affectiva Features/P9/p9_s3-1_2018-06-12_aff_features.csv'
first = pd.read_csv(init)

In [41]:
init = '../../../../Google Drive File Stream/My Drive/USC Expeditions Year 5/Analysis/Help-Seeking/Data/Affectiva Features/P9/p9_s3-1_2018-06-12_aff_faceFound.csv'
second = pd.read_csv(init)

In [45]:
second.head(10)

   Timestamp   Found/Lost
0    25.2000  FACE FOUND
1    25.3333   FACE LOST
2    43.2000  FACE FOUND
3    43.4667   FACE LOST
4    43.7667  FACE FOUND
5    44.2000   FACE LOST
6    57.2667  FACE FOUND
7    57.3333   FACE LOST
8    60.1000  FACE FOUND
9    60.2667   FACE LOST

In [44]:
first['Timestamp']

0        25.2000
1        25.2667
2        43.2000
3        43.2667
4        43.3333
5        43.4000
6        43.7667
7        43.8333
8        43.9000
9        43.9667
10       44.0333
11       44.1000
12       44.1333
13       57.2667
14       60.1000
15       60.1333
16       60.2000
17       67.9667
18       68.0333
19       68.1000
20       68.1667
21       68.2333
22       68.2667
23       69.6667
24       76.9667
25       77.0333
26       80.3333
27       80.4000
28       80.4667
29       80.5333
          ...
2425    934.7000
2426    934.8330
2427    938.2000
2428    938.2670
2429    942.1330
2430    942.2000
2431    942.2670
2432    942.3330
2433    942.4000
2434    942.4670
2435    945.5330
2436    945.6000
2437    945.6330
2438    945.7000
2439    945.7670
2440    945.8330
2441    945.9000
2442    945.9670
2443    946.0330
2444    946.1000
2445    946.1330
2446    946.2000
2447    946.2670
2448    946.3330
2449    946.4000
2450    946.4670
2451    951.1000
2452    951.1330
2453    951.2000
2454    951.2670
Name: Timestamp, Length: 2455, dtype: float64