In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder

/home/interaction-lab/miniconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/interaction-lab/miniconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

## Loading P8 data

In [2]:
df = pd.read_csv('p8_data_processed.csv')

/home/interaction-lab/miniconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (4,6,21,22,23,24,25) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.head()

,participant,session_num,session_date,timestamp,engagement,activity,skill,difficulty,aptitude,games_total,...,op_p2_pose_y9,skill_NC,skill_OS,skill_EM,diff_1,diff_2,diff_3,diff_4,diff_5,no_game
0,8.0,1.0,2018-06-07,0.000000,engaged,NaN,NaN,NaN,0.5,0.0,...,0.0,0,0,0,0,0,0,0,0,1
1,8.0,1.0,2018-06-07,0.033333,engaged,NaN,NaN,NaN,0.5,0.0,...,0.0,0,0,0,0,0,0,0,0,1
2,8.0,1.0,2018-06-07,0.066667,engaged,NaN,NaN,NaN,0.5,0.0,...,0.0,0,0,0,0,0,0,0,0,1
3,8.0,1.0,2018-06-07,0.100000,engaged,NaN,NaN,NaN,0.5,0.0,...,0.0,0,0,0,0,0,0,0,0,1
4,8.0,1.0,2018-06-07,0.133333,engaged,NaN,NaN,NaN,0.5,0.0,...,0.0,0,0,0,0,0,0,0,0,1

In [4]:
len(df)

276091

In [5]:
of_indices = []
op_indices = []

In [6]:
ind = 0
for col in df:
    if('of_' in col):
        of_indices.append(ind)
    if('op_' in col):
        op_indices.append(ind)
    if('engagement' in col):
        of_indices.append(ind)
        op_indices.append(ind)
    ind+=1

In [7]:
len(op_indices)

824

In [8]:
len(of_indices)

715

In [9]:
#of_indices

In [10]:
df.engagement.unique()

array(['engaged', 'disengaged', nan], dtype=object)

In [11]:
#df.isna().sum()
df.engagement.isna().sum()

16155

In [12]:
df = df.dropna(subset=['engagement'])

In [13]:
le = LabelEncoder()
df['engagement'] = le.fit_transform(df['engagement'])
df.head()

,participant,session_num,session_date,timestamp,engagement,activity,skill,difficulty,aptitude,games_total,...,op_p2_pose_y9,skill_NC,skill_OS,skill_EM,diff_1,diff_2,diff_3,diff_4,diff_5,no_game
0,8.0,1.0,2018-06-07,0.000000,1,NaN,NaN,NaN,0.5,0.0,...,0.0,0,0,0,0,0,0,0,0,1
1,8.0,1.0,2018-06-07,0.033333,1,NaN,NaN,NaN,0.5,0.0,...,0.0,0,0,0,0,0,0,0,0,1
2,8.0,1.0,2018-06-07,0.066667,1,NaN,NaN,NaN,0.5,0.0,...,0.0,0,0,0,0,0,0,0,0,1
3,8.0,1.0,2018-06-07,0.100000,1,NaN,NaN,NaN,0.5,0.0,...,0.0,0,0,0,0,0,0,0,0,1
4,8.0,1.0,2018-06-07,0.133333,1,NaN,NaN,NaN,0.5,0.0,...,0.0,0,0,0,0,0,0,0,0,1

In [14]:
df.engagement.unique()

array([1, 0])

In [15]:
of_df = df.iloc[:,of_indices] # OpenFace data with label

In [16]:
of_df.head()

,engagement,of_AU01_c,of_AU01_r,of_AU02_c,of_AU02_r,of_AU04_c,of_AU04_r,of_AU05_c,of_AU05_r,of_AU06_c,...,of_y_61,of_y_62,of_y_63,of_y_64,of_y_65,of_y_66,of_y_67,of_y_7,of_y_8,of_y_9
0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.110987,0.104853,0.104623,0.09834,0.125769,0.128117,0.132764,0.064265,0.071193,0.081629
1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.110987,0.104853,0.104623,0.09834,0.125769,0.128117,0.132764,0.064265,0.071193,0.081629
2,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.110987,0.104853,0.104623,0.09834,0.125769,0.128117,0.132764,0.064265,0.071193,0.081629
3,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.110987,0.104853,0.104623,0.09834,0.125769,0.128117,0.132764,0.064265,0.071193,0.081629
4,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.110987,0.104853,0.104623,0.09834,0.125769,0.128117,0.132764,0.064265,0.071193,0.081629

In [17]:
op_df = df.iloc[:,op_indices] # OpenPose data with label

In [18]:
op_df.head()

,engagement,op_Number of People,op_p1_face_c0,op_p1_face_c1,op_p1_face_c10,op_p1_face_c11,op_p1_face_c12,op_p1_face_c13,op_p1_face_c14,op_p1_face_c15,...,op_p2_pose_y22,op_p2_pose_y23,op_p2_pose_y24,op_p2_pose_y3,op_p2_pose_y4,op_p2_pose_y5,op_p2_pose_y6,op_p2_pose_y7,op_p2_pose_y8,op_p2_pose_y9
0,1,0.125,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [19]:
print(len(of_df))
print(len(op_df))

259936
259936

In [20]:
of_df = of_df.dropna(axis=1)
op_df = op_df.dropna(axis=1)

In [22]:
of_df.head()

,engagement,of_AU01_c,of_AU01_r,of_AU02_c,of_AU02_r,of_AU04_c,of_AU04_r,of_AU05_c,of_AU05_r,of_AU06_c,...,of_y_61,of_y_62,of_y_63,of_y_64,of_y_65,of_y_66,of_y_67,of_y_7,of_y_8,of_y_9
0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.110987,0.104853,0.104623,0.09834,0.125769,0.128117,0.132764,0.064265,0.071193,0.081629
1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.110987,0.104853,0.104623,0.09834,0.125769,0.128117,0.132764,0.064265,0.071193,0.081629
2,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.110987,0.104853,0.104623,0.09834,0.125769,0.128117,0.132764,0.064265,0.071193,0.081629
3,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.110987,0.104853,0.104623,0.09834,0.125769,0.128117,0.132764,0.064265,0.071193,0.081629
4,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.110987,0.104853,0.104623,0.09834,0.125769,0.128117,0.132764,0.064265,0.071193,0.081629

In [23]:
op_df.head()

,engagement,op_Number of People,op_p1_face_c0,op_p1_face_c1,op_p1_face_c10,op_p1_face_c11,op_p1_face_c12,op_p1_face_c13,op_p1_face_c14,op_p1_face_c15,...,op_p2_pose_y22,op_p2_pose_y23,op_p2_pose_y24,op_p2_pose_y3,op_p2_pose_y4,op_p2_pose_y5,op_p2_pose_y6,op_p2_pose_y7,op_p2_pose_y8,op_p2_pose_y9
0,1,0.125,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Feature Analysis

#### Data

In [ ]:
#from sklearn.preprocessing import MinMaxScaler

In [24]:
op_X = op_df.iloc[:,1:]
op_y = op_df.iloc[:,0]
of_X = of_df.iloc[:,1:]
of_y = of_df.iloc[:,0]

In [25]:
from sklearn.feature_selection import VarianceThreshold
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

#### Variance Threshold for OpenFace

In [26]:
sel_of = VarianceThreshold(threshold=0.1)
print('sel')
sel_of_X = sel_of.fit_transform(of_X)

sel

In [ ]:
#sel_of.variances_

In [27]:
sel_of.get_params()

{'threshold': 0.1}

In [28]:
len(sel_of.get_support())

713

In [ ]:
#sel_of.get_support()

In [29]:
sel_of_sup = sel_of.get_support()
true_ind = []
for i in range(len(sel_of_sup)):
    if(sel_of_sup[i] == True):
        true_ind.append(i)
    #print(i, sel_of_sup[i])

In [30]:
len(true_ind)  # Number of features for OpenFace after removing features with low variance

13

In [31]:
true_ind

[0, 2, 4, 8, 10, 18, 20, 22, 24, 30, 33, 239, 575]

In [50]:
of_X.iloc[:,true_ind].head()

,of_AU01_c,of_AU02_c,of_AU04_c,of_AU06_c,of_AU07_c,of_AU14_c,of_AU15_c,of_AU17_c,of_AU20_c,of_AU26_c,of_AU45_c,of_confidence,of_success
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

#### Variance Threshold for OpenPose

In [32]:
sel_of = VarianceThreshold(threshold=0.1)
print('sel')
sel_of_X = sel_of.fit_transform(op_X)

sel

In [33]:
len(sel_of.get_support())

823

In [34]:
sel_of_sup = sel_of.get_support()
true_ind_op = []
for i in range(len(sel_of_sup)):
    if(sel_of_sup[i] == True):
        true_ind_op.append(i+740)
    #print(i, sel_of_sup[i])

In [35]:
len(true_ind_op) # Number of features for OpenPose after removing features with low variance

27

In [36]:
df.iloc[:,true_ind_op].head()

,op_p1_face_c23,op_p1_face_c24,op_p1_face_c25,op_p1_face_c28,op_p1_face_c35,op_p1_face_c36,op_p1_face_c37,op_p1_face_c38,op_p1_face_c40,op_p1_face_c41,...,op_p1_face_c53,op_p1_face_c55,op_p1_face_c58,op_p1_face_c62,op_p1_pose_c0,op_p1_pose_c1,op_p1_pose_c15,op_p1_pose_c16,op_p1_pose_c18,op_p1_pose_x5
0,0.000126,0.000064,0.000187,0.0,0.000019,0.0,0.0,0.000061,0.00001,0.0,...,0.0,0.0,0.0,0.000018,0.162658,0.0,0.0,0.457504,0.117105,0.0
1,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.00000,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0
2,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.00000,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0
3,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.00000,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0
4,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.00000,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0

#### Select K best for OpenFace

In [ ]:
# Scaling to (0,1)

In [ ]:
#op_X = MinMaxScaler().fit_transform(op_X)
#of_X = MinMaxScaler().fit_transform(of_X)

In [ ]:
#op_X = pd.DataFrame(op_X)

In [37]:
sk_of = SelectKBest(chi2, k=10)

In [38]:
sk_of.fit(of_X, of_y)

SelectKBest(k=10, score_func=<function chi2 at 0x7f333b56a8c8>)

In [39]:
sk_of.get_params()

{'k': 10,
 'score_func': <function sklearn.feature_selection.univariate_selection.chi2(X, y)>}

In [ ]:
#sk_of.get_support()

In [40]:
sk_ind_of = []
sk_of_sup = sk_of.get_support()
for i in range(len(sk_of_sup)):
    if(sk_of_sup[i] == True):
        sk_ind_of.append(i)

In [41]:
sk_ind_of # most important open face features

[4, 8, 10, 18, 20, 28, 239, 520, 575, 576]

In [42]:
of_X.iloc[:,sk_ind_of].head()

,of_AU04_c,of_AU06_c,of_AU07_c,of_AU14_c,of_AU15_c,of_AU25_c,of_confidence,of_frame,of_success,of_timestamp
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000012,0.0,0.000012
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000025,0.0,0.000025
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000037,0.0,0.000037
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000049,0.0,0.000049

#### Select K best for OpenPose

In [43]:
sk_op = SelectKBest(chi2, k=10)

In [44]:
sk_op.fit(op_X, op_y)

SelectKBest(k=10, score_func=<function chi2 at 0x7f333b56a8c8>)

In [45]:
sk_op.get_params()

{'k': 10,
 'score_func': <function sklearn.feature_selection.univariate_selection.chi2(X, y)>}

In [ ]:
#sk_of.get_support()

In [46]:
sk_ind_op = []
sk_op_sup = sk_op.get_support()
for i in range(len(sk_op_sup)):
    if(sk_op_sup[i] == True):
        sk_ind_op.append(740.iloc[:,true_ind].head()+i)

In [47]:
sk_ind_op # most important open pose features

[759, 779, 780, 781, 782, 948, 949, 1077, 1084, 1085]

In [49]:
df.iloc[:,sk_ind_op].head()

,op_p1_face_c25,op_p1_face_c43,op_p1_face_c44,op_p1_face_c45,op_p1_face_c46,op_p1_face_y7,op_p1_face_y8,op_p1_pose_c0,op_p1_pose_c15,op_p1_pose_c16
0,0.000187,0.000127,0.000112,0.000058,0.000049,0.360333,0.360333,0.162658,0.0,0.457504
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000

#### Feature Selection using SVM for OpenFace

In [54]:
from sklearn.feature_selection import RFE
from sklearn.feature_selection import SelectFromModel
from sklearn.svm import LinearSVC

In [ ]:
lsvc = LinearSVC(C=0.01, penalty="l1", dual=False).fit(of_X, of_y)

In [ ]:
model = SelectFromModel(lsvc, prefit=True)